<!DOCTYPE htl>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Simply Hired</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}css/bootstrap3.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}static/css/base.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  </head>

  <body ng-app="enterpriseApp">

    <div class="navbar navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-content">
          <a href='#' title="Simply Hired Adsystem"><img class="sh-logo" src="{{ STATIC_URL }}img/simplyhired-240x44.png"></a>
          | <span class="navbar-adsystem">AdSystem</span>
        </div>
      </div>
    </div>

    <div class="view-controller">
      <div ng-view class="view-frame"></div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}static/libraries/angular/angular.min.js"></script>
    <script src="{{ STATIC_URL }}static/libraries/angular-animate/angular-animate.min.js"></script>
    <script src="{{ STATIC_URL }}static/libraries/angular-route/angular-route.min.js"></script>
    <script src="{{ STATIC_URL }}static/libraries/angular-resource/angular-resource.min.js"></script>
    <script src="{{ STATIC_URL }}app/app.modules.js"></script>
    <script src="{{ STATIC_URL }}app/components/accounts/accountsController.js"></script>
    <script src="{{ STATIC_URL }}app/components/accounts/accountsRoutes.js"></script>
    <script src="{{ STATIC_URL }}app/components/accounts/accountsService.js"></script>
  </body>
</html>




